
<ion-content>
    <h1 class="title">Tu lista</h1>
    <div class="image-container">
        <img src="../../../assets/icons/icon-512x512.png" alt="">
    </div>

     <ion-grid>
         <ion-row class="ion-justify-content-center">
             <ion-button color="light" (click)="login()">
                 <img src="../../../assets/google-logo.png" alt="">
                 <span class="login-text"> Login with Google</span>
             </ion-button>
         </ion-row>
     </ion-grid>
</ion-content>

